<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset=utf-8>
    <title>How can AngularJS bind to list of checkbox values?</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  
	<script>
			(function (app) {
  'use strict';
  
  app.controller('SimpleArrayCtrl', ['$scope', function SimpleArrayCtrl($scope) {
    // fruits
    $scope.fruits = ['apple', 'orange', 'pear', 'naartjie'];
    
    // selected fruits
    $scope.selection = [];
    
    // toggle selection for a given fruit by name
    $scope.toggleSelection = function toggleSelection(fruitName) {
      var idx = $scope.selection.indexOf(fruitName);
      
      // is currently selected
      if (idx > -1) {
        $scope.selection.splice(idx, 1);
      }
      
      // is newly selected
      else {
        $scope.selection.push(fruitName);
      }
    };
  }]);
  
  
  
  /**
   * custom filter
   */
  app.filter('fruitSelection', ['filterFilter', function (filterFilter) {
    return function fruitSelection(input, prop) {
      return filterFilter(input, { selected: true }).map(function (fruit) {
        return fruit[prop];
      });
    };
  }]);
})(angular.module('app', []));
		</script>
	</head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1><a href="http://stackoverflow.com/q/14514461/697154">How can AngularJS bind to list of checkbox values?</a></h1>
      </div>

      <div ng-controller="SimpleArrayCtrl">
        

        <div class="row">
          <div class="col-md-6">
            <h4>selectables</h4>
            <div class="form-group">
              <label ng-repeat="fruitName in fruits" class="checkbox-inline">
                <input type="checkbox" name="selectedFruits[]" value="{{fruitName}}" ng-checked="selection.indexOf(fruitName) > -1" ng-click="toggleSelection(fruitName)"> {{fruitName}}
              </label>
            </div>
          </div>

          
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4>selection</h4>
            <pre>{{selection|json}}</pre>
          </div>
				</div>
      </div>

    </div>
  </body>
</html>