<!Doctype html>
<html lang="en">
	<head>
		<title>Login page</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
			 <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10"><br><br>
          <div class="container">
						<form class="form-horizontal">
							<img src="../img/iskon.jpg" class="img-fluid" alt="Responsive image"><br/><br/>
							<label>Change Password</label>
								<div class="form-group">
									
									<label for="inputOldPass3" class="col-sm-2 control-label">Old Password</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" id="inputOldPass3" placeholder="Old Password">
										</div>
								</div>
								<div class="form-group">
									<label for="inputNewPass3" class="col-sm-2 control-label">New Password</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" id="inputNewPass3" placeholder="New Password">
										</div>
								</div>
								<div class="form-group">
									<label for="inputConfirmPass3" class="col-sm-2 control-label">Confirm Password</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" id="inputConfirmPass3" placeholder="Confirm Password">
										</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="btn btn-default">Change</button>
									</div>
								</div>
							</form>
						</div>
					</div>
			</div>

		</div>
	</body>
</html>