<!Doctype html>
<html lang="en">
	<head>
		<title>Login page</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#"></a>
	    </div>
	  </div>
	</nav>
	<body>
		<div>
			<div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8"><br><br>
          <div class="container">	
						<img src="../img/iscon.jpg" class="img-fluid" alt="Responsive image"><br/><br/>
						<div class="row">
							<div class="col-lg-4">
								<div class="row">
								<h5 align="center"><b>Log In</b></h5>
								<br/>
							  <form class="form-horizontal">
							    <div class="form-group">	
							    	<div class="col-md-3">
									  	<label for="inputEmail3">Email</label>
										</div>
										<div class="col-md-8">
											<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
										</div>
									</div>
								  <div class="form-group">
								  	<div class="col-md-3">
									 		<label for="inputPassword3">Password</label>
									 	</div>
									 	<div class="col-md-8">
									 		<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
									 	</div>
									</div>
							  	<div class="form-group">
							  		<div class="col-md-3">
							  		</div>
							  		<div class="col-md-6">
							  			<label>
											<a href="forgot">Forgot Password</a><br/><br/>
										</label>
										</div>
									</div>					
									<div class="form-group">
										<div class="col-md-3">
										</div>
										<div class="col-md-6">
											<button type="submit" class="btn btn-success">Sign in</button>
										</div>
									</div>
							  </form>
							</div>
						  </div>
							<div class="col-lg-4">
								<br/>
								<br/>
								<div style="background-color: #eee">
							  	<ul>
							  		<li>
									    <p>The last date for yatra registration for our group is extended 
									    	till Feb 25,2016</p>
									   </li>
									   <li>
									    <p>The last date for yatra registration for our group is extended 
									    	till Feb 25,2016</p>
									   </li>
									   <li>
									    <p>The last date for yatra registration for our group is extended 
									    	till Feb 25,2016</p>
									   </li>
									   <li>
									    <p>The last date for yatra registration for our group is extended 
									    	till Feb 25,2016</p>
									   </li>
									   <li>
									    <p>The last date for yatra registration for our group is extended 
									    	till Feb 25,2016</p>
									   </li>
									   <li>
									    <p>The last date for yatra registration for our group is extended 
									    	till Feb 25,2016</p>
									   </li>
									   <li>
									    <p>The last date for yatra registration for our group is extended 
									    	till Feb 25,2016</p>
									   </li>
									   <li>
									    <p>The last date for yatra registration for our group is extended 
									    	till Feb 25,2016</p>
									   </li>
									   <li>
									    <p>The last date for yatra registration for our group is extended 
									    	till Feb 25,2016</p>
									   </li>
									   <li>
									    <p>The last date for yatra registration for our group is extended 
									    	till Feb 25,2016</p>
									   </li>
									   <li>
									    <p>The last date for yatra registration for our group is extended 
									    	till Feb 25,2016</p>
									   </li>
									   <li>
									    <p>The last date for yatra registration for our group is extended 
									    	till Feb 25,2016</p>
									   </li>
									   <li>
									    <p>The last date for yatra registration for our group is extended 
									    	till Feb 25,2016</p>
									   </li>
							    </ul>
								</div>
							</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>